<h1>Postcode Import Facility</h1>
<p>This facility will allow you to import a csv containing a row_id and a postcode. The application will check the formatting of the postcode.</p>

<h4>Import from CSV</h4>
  <%= form_tag import_imports_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
  


<%= link_to 'Download Most Recent Import - Failed Records (CSV)', 'fails.csv', download: 'failed_validation' %> </br>
<%= link_to 'Download Most Recent Import - Successful Records (CSV)', 'fails.csv', download: 'succeeded_validation' %>